@page
@model ASP_0811.Pages.Index1_1Model
@{
}

<form method="post">
	<p>Question 1</p>
	<input type="radio" name="q1" value="10" checked required />
	<label for="q11">Answer 1</label>
	<input type="radio" name="q1" value="0" required />
	<label for="q12">Answer 2</label>
	<input type="radio" name="q1" value="0" required />
	<label for="q13">Answer 3</label>
	<input type="radio" name="q1" value="0" required />
	<label for="q14">Answer 4</label>

	<br />
	<br />

	<p>Question 2</p>
	<input type="radio" name="q2" value="0" required />
	<label for="q21">Answer 1</label>
	<input type="radio" name="q2" value="10" checked required />
	<label for="q22">Answer 2</label>
	<input type="radio" name="q2" value="0" required />
	<label for="q23">Answer 3</label>
	<input type="radio" name="q2" value="0" required />
	<label for="q24">Answer 4</label>

	<br />
	<br />

	<p>Question 3</p>
	<input type="radio" name="q3" value="0" required />
	<label for="q31">Answer 1</label>
	<input type="radio" name="q3" value="0" required />
	<label for="q32">Answer 2</label>
	<input type="radio" name="q3" value="10" checked required />
	<label for="q33">Answer 3</label>
	<input type="radio" name="q3" value="0" required />
	<label for="q34">Answer 4</label>

	<br />
	<br />

	<p>Question 4</p>
	<input type="radio" name="q4" value="0" required />
	<label for="q41">Answer 1</label>
	<input type="radio" name="q4" value="0" required />
	<label for="q42">Answer 2</label>
	<input type="radio" name="q4" value="0" required />
	<label for="q43">Answer 3</label>
	<input type="radio" name="q4" value="10" checked required />
	<label for="q44">Answer 4</label>

	<br />
	<br />

	<p>Question 5</p>
	<input type="radio" name="q5" value="10" checked required />
	<label for="q51">Answer 1</label>
	<input type="radio" name="q5" value="0" required />
	<label for="q52">Answer 2</label>
	<input type="radio" name="q5" value="0" required />
	<label for="q53">Answer 3</label>
	<input type="radio" name="q5" value="0" required />
	<label for="q54">Answer 4</label>

	<br />
	<br />

	<p>Question 6</p>
	<input type="radio" name="q6" value="0" required />
	<label for="q61">Answer 1</label>
	<input type="radio" name="q6" value="10" checked required />
	<label for="q62">Answer 2</label>
	<input type="radio" name="q6" value="" required />
	<label for="q63">Answer 3</label>
	<input type="radio" name="q6" value="0" required />
	<label for="q64">Answer 4</label>

	<br />
	<br />

	<p>Question 7</p>
	<input type="radio" name="q7" value="0" required />
	<label for="q71">Answer 1</label>
	<input type="radio" name="q7" value="0" required />
	<label for="q72">Answer 2</label>
	<input type="radio" name="q7" value="10" checked required />
	<label for="q73">Answer 3</label>
	<input type="radio" name="q7" value="0" required />
	<label for="q74">Answer 4</label>

	<br />
	<br />

	<p>Question 8</p>
	<input type="radio" name="q8" value="0" required />
	<label for="q81">Answer 1</label>
	<input type="radio" name="q8" value="0" required />
	<label for="q82">Answer 2</label>
	<input type="radio" name="q8" value="0" required />
	<label for="q83">Answer 3</label>
	<input type="radio" name="q8" value="10" checked required />
	<label for="q84">Answer 4</label>

	<br />
	<br />

	<p>Question 9</p>
	<input type="radio" name="q9" value="10" checked required />
	<label for="q91">Answer 1</label>
	<input type="radio" name="q9" value="0" required />
	<label for="q92">Answer 2</label>
	<input type="radio" name="q9" value="0" required />
	<label for="q93">Answer 3</label>
	<input type="radio" name="q9" value="0" required />
	<label for="q94">Answer 4</label>

	<br />
	<br />

	<p>Question 10</p>
	<input type="radio" name="q10" value="10" checked required />
	<label for="q101">Answer 1</label>
	<input type="radio" name="q10" value="0" required />
	<label for="q102">Answer 2</label>
	<input type="radio" name="q10" value="0" required />
	<label for="q103">Answer 3</label>
	<input type="radio" name="q10" value="0" required />
	<label for="q104">Answer 4</label>

	<br />
	<br />

	<button type="submit">Next</button>
</form>
