@{
    Layout = "_Layout";
}

@model User

<form method="POST" asp-action="Check" class="registr">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputNumber1" class="form-label">Phone number</label>
    <input type="number" class="form-control" id="exampleInputNumber1" required>
  </div>
  <input type="number" value="2" asp-for="UserStateId" hidden/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>